/* For Chrome, Edge, and Safari */
.sp-console-list::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar (for horizontal scrollbar) */
}

.sp-console-list::-webkit-scrollbar-track {
  background: #e0e0e0; /* Background of the scrollbar track */
}

.sp-console-list::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Roundness of the scrollbar thumb */
  border: 2px solid #e0e0e0; /* Space around the thumb */
}

.sp-console-list::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color when hovering over the scrollbar thumb */
}

/* For Chrome, Edge, and Safari */
.cm-scroller::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar (for horizontal scrollbar) */
}

.cm-scroller::-webkit-scrollbar-track {
  background: #e0e0e0; /* Background of the scrollbar track */
}

.cm-scroller::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Roundness of the scrollbar thumb */
  border: 2px solid #e0e0e0; /* Space around the thumb */
}

.cm-scroller::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color when hovering over the scrollbar thumb */
}

/* For Chrome, Edge, and Safari */
.small_scrollbar::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
  height: 4px; /* Height of the scrollbar (for horizontal scrollbar) */
}

.small_scrollbar::-webkit-scrollbar-track {
  background: #e0e0e0; /* Background of the scrollbar track */
}

.small_scrollbar::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 1px; /* Roundness of the scrollbar thumb */
  border: 1px solid #e0e0e0; /* Space around the thumb */
}

.small_scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color when hovering over the scrollbar thumb */
}
